.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.pagination button {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: #f3f4f6;
    cursor: pointer;
    transition: 0.3s;
}

.pagination button:hover:not(:disabled) {
    background: #2563eb;
    color: #fff;
}

.pagination button.active {
    background: #2563eb;
    color: #fff;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}